<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Listado de Alumnos</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h2 class="mt-5">Listado de Alumnos</h2>
            <p>¡Bienvenido! Has iniciado sesión correctamente con las credenciales root.</p>
        </div>
    </body>
</html>




