<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Login</h2>
        <form action="/login" th:object="${login}" method="post">
            <div class="form-group">
                <label for="usuario">Nombre de usuario:</label>
                <input type="text" class="form-control" id="usuario" th:field="*{usuario}">
            </div>
            <div class="form-group">
                <label for="contraseña">Contraseña:</label>
                <input type="password" class="form-control" id="contraseña" th:field="*{contraseña}">
            </div>
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            <p th:if="${error}" class="text-danger" th:text="${error}"></p>
        </form>
    </div>
</body>
</html>

